.bookingCont {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 78vh;
  padding: 10px;
}
.is-disabled{
  color: gray;
}
.is-active{
  color: #ffb250 !important;
}
.react-rater{
  display: inline-block;
}
.userImg{
  padding: 10px;
}
.right{
  float: right;
}
.precio{
  display: flex;
  justify-content: flex-end
}

.detalle{
  padding-left: 30px !important;
  padding-top: 15px;
}