

.buscador {
  background-color: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: auto;
}

.hidden { display:none; }

.form-group{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0px !important;
  width: 100%;
  height: 70px;

}
.css-vj8t7z, .css-2o5izw{
  max-height: 65px;
  border-width: 0px !important;
  font-size: 18px !important;
}
.Select-menu-outer{
        zIndex: 100 !important;
    }
.DateRangePicker__Month {
  margin: 0px !important;
}

.form-group label {
  float: left;
  margin-top: 22px;
  text-align: center;
  overflow: hidden;
  font-size: 12pt;
}


.popover { max-width: 100% !important;
min-width: 200px}

#calendario,#guests, #location{
  width: 90%;
  text-align: center;
}

.inputSearcher{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px !important;
}

.form-group input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 70px;
  font-size: 14pt;
  border: none;
}
.filtro{
  min-height: 70px;
}
.form-group h5{
  padding-top: 20px;
}
.form-group .SearcherIcon {
  height: 70px;
  border: none;
  color: white;
  width: 100%;
  font-size: 9pt;
  border-radius: 0px;
  background-color: #FA6839;
}

.form-group .SearcherIcon:hover {
  color: white;
}

.incrementIcon {
  height: 70px;
  border: none;
  color: #FA6839;
  width: 50%;
  font-size: 14pt;
  border-radius: 0px;
  background-color: white;
}
