

.buscador {
  background-color: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: auto;
}

::placeholder{
  color:black !important;
  text-align: center;
}
.hidden { display:none; }

.input-group{
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100%;
  min-height: 70px;
}

.DateRangePicker__Month {
  margin: 0px !important;
}

.input-group label {
  float: left;
  margin-top: 22px;
  text-align: center;
  overflow: hidden;
  font-size: 12pt;
}


.popover { max-width: 100% !important;
min-width: 200px}

#calendario,#guests, #location{
  width: 85%;
  text-align: center;
}

.inputSearcher{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px !important;
}

.input-group input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 70px;
  font-size: 14pt;
  border: none;
}
.filtro{
  min-height: 70px;
}
.input-group h5{
  padding-top: 20px;
}
 #calendario h5{
   padding-top: 25px;
  }

.input-group .SearcherIcon {
  height: 70px;
  border: none;
  color: white;
  width: 100%;
  font-size: 9pt;
  border-radius: 0px;
  background-color: #FA6839;
}

.input-group .SearcherIcon:hover {
  color: white;
}

.incrementIcon {
  height: 70px;
  border: none;
  color: #FA6839;
  width: 50%;
  font-size: 14pt;
  border-radius: 0px;
  background-color: white;
}
