// Theme colors
$primary: #FA6839;
$secondary: #314D68;
$light: #F6F7FC;
$info: #22CDF3;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "light": $light,
        "info": $info
);

html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

.form-control {
  border: 0 !important;
}

.btn {
  border: 0 !important;
}

.btn-cancelar {
  color: white;
}

.card {
  border: 0 !important;

  &-house-link {
    color: black !important;
    text-decoration: none !important;
  }
}

