html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: Roboto, "Roboto", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px;
}

// Theme colors
$primary: #FA6839;
$secondary: #314D68;
$light: #F6F7FC;
$info: #22CDF3;