
html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  border: 0 !important;

  &-house-link {
    color: black !important;
    text-decoration: none !important;
  }
}
