.precioNoche{
  font-size: 45px;
}
.house label{
  display: none;
}

#buttonRow a {
  width: 100%;
}

.house .btn{
  font-size: 20px;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}
.DayPicker-Month {
  width: 40% !important;
}
.DayPicker{
  width: 100%;
}
.sidebar .nav-item{
  width: 100%;
}
.services {
  ul, li {
    list-style-type: none;
  }

  .fas {
    color: $primary;
  }
}
.review{
  border: 1px solid rgba(128, 128, 128, 0.35) !important;
}

.card-header{
  background-color: rgba(128, 128, 128, 0.35) !important;
}
