.precioNoche{
  font-size: 45px;
}
.house label{
  display: none;
}
.house .btn{
  font-size: 20px;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}
.DayPicker-Month {
  width: 40% !important;
}
.DayPicker{
  width: 100%;
}