body#landingBody {
  position: relative;
  background: url(('img/casa.png')) no-repeat center;
background-size: cover;
max-height: 600px;
}

.jumbotron_cont {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 78vh;
}

.buscador {
  background-color: white;
  padding: 0px;
  margin: auto;
}
.boton {
  border-radius: 0px;
  width: 100%;
  background-color: #FA6839;
}

.HeadLine {
  text-align: center;
  color: white;
}

.filtros {
  padding: 0px;
  color: white;
}

::placeholder{
  color:black !important;

}


.inputContainer label {
  float: left;
  margin-right: 5px;
  margin-top: 25px;
  text-align: center;

}
.inputContainer div {
  overflow: hidden;
}
.inputContainer input,select {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 70px;
  font-size: 14pt;
  border: none;
}
.inputContainer button {
  height: 70px;
  border: none;
  color: white;
  width: 100%;
  font-size: 14pt;
  padding-left: 0px;
  padding-right: 0px;
}
