.HeadLine{
  text-align: center;
  color: white;
  padding-top: 75px;
}

.jumbotron_cont {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 78vh;
  background-image: url('../../public/img/casa.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: 768px) {
  .HeadLine {
    padding-top: 5px;
    padding-left:25px;
    padding-right: 25px;
  }
}