// Body
$body-bg: #f8fafc;

//Button
$input-border-width: 0;

//Feedback
$form-feedback-invalid-color: $primary;
$form-feedback-icon-invalid-color: $primary;

//Shadows
$enable-shadows: true;

//Link
$link-hover-decoration: none;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-monospace: "Segoe UI";
$headings-font-weight: 500;
$font-size-base: 1.4rem;
$line-height-base: 1.6;

// Button
//$input-btn-border-width: 0;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$font-family-monospace: "Segoe UI";
$enable-gradients: true;
$form-check-input-gutter: 1.2rem;
$rounded-pill:  40rem;